<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HangFire.Core" version="1.4.2" targetFramework="net451" />
  <package id="mongocsharpdriver" version="1.9.2" targetFramework="net451" />
  <package id="Moq" version="4.2.1502.0911" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <package id="Owin" version="1.0" targetFramework="net451" />
  <package id="xunit" version="1.9.2" targetFramework="net451" />
</packages>